# Subqueries in Select Lab

In [2]:
import pandas as pd
df = pd.read_csv('./game_stock.csv')
df[:2]

,date,open_price,high_price,low_price,close_price,volume,adjclose_price
0,2021-01-28,265.000000,483.0,112.25,193.600006,58815800.0,193.600006
1,2021-01-27,354.829987,380.0,249.00,347.510010,93396700.0,347.510010

### Resources

[Subqueries in Select](https://www.essentialsql.com/get-ready-to-learn-sql-server-20-using-subqueries-in-the-select-statement/)

[College Tuition Data](https://www.kaggle.com/jessemostipak/college-tuition-diversity-and-pay)